<div id="body-overlay"></div>
<!--sidbar-->
<div id="sidebar" class="moduleToShow"></div>
<div id="wrap">
	<div class="container dashboard">
		<div class="wrapper-dashboard">
			<div class="row">
				<div class="col-md-3">
					<div class="profile-categories">
						<!--disini search-->

					</div>
					<div class="panel-style space custom-menu no-pad-r m-bot-30 m-top-30">
						<span class="grey-title">CUSTOM MENU</span>
						<!--disini untuk keterangan-->
					</div>
				</div>
				<div class="col-md-9">
					<div class="white-panel-widget clearfix m-sidebar m-bot-30 no-pad">
						<div class="average-statistics-wrapper row no-margin">
							<!--disini untuk map-->
							<div id="map"></div>
						</div>
						<!--<div id="myfirstchart" style="height: 250px;"></div>-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>